@font-face {
  font-family: 'Favorit regular';
  font-weight: 500;
  src: url('favorit-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Favorit Mono';
  font-weight: 500;
  src: url('favorit_regular_mono-webfont.woff') format('woff');
}
 
 .header__icons {
  display: none;
}

sticky-header.header-wrapper {
	display: block;
	position: fixed;
	background: linear-gradient(rgba(var(--color-background), 1),rgba(var(--color-background), 0));
	width: 100%;
  top: 0;
  border: 0;
}

.header__menu-item {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: 'Favorit Mono';
}

.header__heading-logo {
  max-width: 180;
}

@media screen and (min-width: 990px) {
  .header--middle-left {
    grid-template-areas: "heading navigation";
    grid-template-columns: auto auto;
    column-gap: 2rem;
  }

  .header--middle-left .header__inline-menu {
    justify-self: end;
  }
}