@font-face {
  font-family: 'Favorit regular';
  font-weight: 500;
  src: url('favorit-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Favorit Mono';
  font-weight: 500;
  src: url('favorit_regular_mono-webfont.woff') format('woff');
}
 
 .header__icons {
  display: none;
}

sticky-header.header-wrapper {
	display: block;
	position: fixed;
	background-color: rgba(var(--color-background), 1);
	width: 100%;
  top: 0;
  border: 0;
}

header.header {
  margin: 0;
  max-width: 100%;
}

summary.header__menu-item {
  font-size: 1.8rem;
  font-family: 'Favorit Mono';
  font-weight: bold;
  text-transform: uppercase;  
  color: rgb(var(--color-foreground));
}

img.header__heading-logo {
  max-width: 120px;
}

#MainContent {
  margin-top: 6rem;
}

@media screen and (min-width: 990px) {
  .header--middle-left {
    grid-template-areas: "heading navigation";
    grid-template-columns: auto auto;
    column-gap: 2rem;
  }

  .header--middle-left .header__inline-menu {
    justify-self: end;
  }
}