@font-face {
  font-family: 'Favorit regular';
  font-weight: 500;
  src: url('favorit-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Favorit Mono';
  font-weight: 500;
  src: url('favorit_regular_mono-webfont.woff') format('woff');
}

body {
  font-family: 'Favorit Mono';
  letter-spacing: .1rem;
}

.header__icons {
  display: none;
}

sticky-header.header-wrapper {
  display: block;
  position: fixed;
  background-color: rgba(var(--color-background), 0);
  width: 100%;
  top: 0;
  border: 0;
}

header.header {
  margin: 0;
  max-width: 100%;
}

summary.header__menu-item {
  font-size: 1.8rem;
  font-family: 'Favorit Mono';
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(var(--color-background));
  /* text-shadow: 1px 1px 0 rgb(var(--color-foreground)); */
}

img.header__heading-logo {
  max-width: 120px;
}

#MainContent {
  margin-top: 0rem;
}

.collection {
  padding: 0;
}

.product-grid {
  margin: 0;
}

.button {
  border: .1rem solid rgb(var(--color-foreground));
  background: transparent;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: rgb(var(--color-foreground));
}

.button::after {
  box-shadow: none;
}

pickup-availability.product__pickup-availabilities {
  display: none;
}

.product__media-list .product__media-item:first-child,
.product__media-list .product__media-item--full {
  width: 100%;
  max-width: 100%;
}

.product__title img {
  max-width: 100%;
}

.product__description h4 {
  text-transform: uppercase;
  font-weight: bold;
}

.mega-menu ul.mega-menu__list--condensed {
  text-align: right;
}

.mega-menu .mega-menu__list {
  background: transparent;
  border: none
}

.mega-menu .mega-menu__link {
  color: rgb(var(--color-background));
}

@media screen and (min-width: 990px) {
  html:not([data-pastheader='false']) sticky-header.header-wrapper {
    background: linear-gradient(rgba(var(--color-background), 1),rgba(var(--color-background), 0));
    transition: background-color 0.5s ease-in-out;
  }

  html:not([data-pastheader='true']) sticky-header.header-wrapper .header__heading-logo {
    filter: invert(100%);
  }



  html:not([data-pastheader='false']) summary.header__menu-item {
    color: rgb(var(--color-foreground));
    text-shadow: none;
  }

  .header--middle-left {
    grid-template-areas: "heading navigation";
    grid-template-columns: auto auto;
    column-gap: 2rem;
  }

  .header--middle-left .header__inline-menu {
    justify-self: end;
  }

  .product--stacked li.product__media-item {
    width: 100%;
    max-width: calc(100% - var(--grid-desktop-horizontal-spacing));
  }
}