body {
  overflow-x: hidden;
}

div.project {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  box-sizing: content-box;
}

div.project__image {
  display: table;
}

div.project__image_center {
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  text-align: center;
}

img.project__image_obj {
  max-width: 80%;
  height: auto;
  padding-top: 40rem;
}

div#shopify-section-footer {
  position: absolute;
  top: 100vh;
  width: 100%;
}

@media screen and (max-width: 750px) {
  img.project__image_obj {
    padding-top: 10rem;
  }
}